body {
  width: 820px;
  padding: 18px 10px 0 10px;
  margin: 0;
}

#seminav {
  width: 800px;
  height: 36px;
}

#seminav img {
  float: right;
  padding-left: 12px;
}

.chunkdiv {
  width: 800px;
  margin: 30px 0 30px 0;
}

.detail_type {
  width: 8%;
  font-weight: normal;
  background-color: #eeeeee;
}

.detail_row {
  width: inherit;
  height: 30px;
}

#detail tr {
  height: 30px;
}

#detail td {
  padding-left: 10px;
}

.detail_det {
  width: 24%;
}

.detail_det2 {
  width: 20%;
}

.detail_blank {
  background: #f9f9f9;
}

table {
  width: 800px;
  border-collapse: collapse;
  font-size: 12px;
}

table, th, td {
  border: #999999 solid 1px;
}

.file_buttons{
  width: 103px;
  height: 26px;
  margin: 5px;
  background-color: #34597C;
  color: white;
  text-align: center;
  font-size: 13px;
  padding-top: 10px;
  border-radius: 2px;
}

#status th {
  font-weight: normal;
  background-color: #eeeeee;
}

#status tr {
  height: 30px;
}

#status td {
  text-align: center;
}

.mokrok {
  width: 7%;
}

.jibun {
  width: 16%;
}

.yongdo1 {
  width: 15%;
}

.yongdo2 {
  width: 13%;
}

.danga {
  width: 9%;
}

.gamjungga {
  width: 12%;
}

#comment {
  width: 776px;
  margin: 15px 12px 15px 12px;
  padding-left: 15px;
  padding-right: 15px;
}

#comment p {
  font-size: 8px;
  margin: 0;
  line-height: 2px;
}

#comment span {
  float: right;
  margin-right: 16px;
}

#comment_input {
  width: 776px;
  height: 35px;
  margin: 0 12px 0 12px;
  padding-left: 10px;
  border: #dde3e6 solid 1px;
  border-radius: 2px;
}

#user_info {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 50%;
  display: block;
}

#info_box {
  width: 492px;
  height: 277.29px;
  top: 35%;
  left: 20%;
  position: fixed;
  background-color: white;
  opacity: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

#info_box h1 {
  margin: 47px 0 0px 20px;
  font-size: 30px;
  /*color: #34597C;*/
}

#info_box h3 {
  margin-top: 10px;
  margin-left: 22px;
  font-size: 14px;
}

#info_box h3 span {
  font-size: 11px;
  font-weight: normal;
  color: #34597C;
}

#rate_button {
  background: #34597C;
  color: white;
  margin-left: 20px;
  border-radius: 3px;
}

.getRate-btn {
  border-radius: 3px;
}

#rating, #grade {
  width: 49.8%;
  height: 30%;
  border-top: lightgray solid 1px;
  text-align: center;
}

#rating {
  border-right: lightgray solid 1px;
}

#info_box p {
  font-size: 32px;
  font-weight: bold;
  color: #34597C;
  margin: 23px 23px;
}

#which_rating, #which_grade {
  color: white;
  background: #34597C;
  padding: 4px 9px 4px 9px;
  border-radius: 5px;
}
/**
#which_rating {
  color: blue;
}
**/
#which_grade {
  color: darkred;
}

#user_id {
  font-weight: bold;
}
